<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    <title>evtemplate</title>

    <link rel="shortcut icon" href="favicon.png" />

    <link rel="stylesheet" href="css/style.css" />

    <!--[if lt IE 9]>
        <script src="js/libs/html5shiv.min.js"></script>
        <script src="js/libs/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="wraiper">
        <header>
            <a href="/" class="headerLogo"></a>
        </header>

        <nav class="menuTop">
            <ul class="menu">
                <li class="active">
                    <a href="index.html">главная</a>
                </li>
                <li>
                    <a href="#">о компании</a>
                </li>
                <li>
                    <a href="#">новости</a>
                </li>
                <li>
                    <a href="#">акции</a>
                </li>
                <li>
                    <a href="#">услуги</a>
                    <ul>
                        <li>
                            <a href="">услуга1</a>
                        </li>
                        <li>
                            <a href="">услуга2</a>
                        </li>
                        <li>
                            <a href="">услуга3</a>
                        </li>
                        <li>
                            <a href="">услуга4</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">фотогалерея</a>
                </li>
                <li>
                    <a href="#">контакты</a>
                </li>
            </ul>
        </nav>

        <div class="middle">
            <div class="blRow">
                <aside class="blLeft">
                    <h2>blLeft</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus congue nunc sit amet tempus. Cras non lectus eleifend, fermentum sem vel, vestibulum leo. Quisque vitae auctor turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse semper vestibulum pretium. Pellentesque tristique dolor non iaculis consectetur. Sed ullamcorper lacinia consectetur. Duis ultrices ac justo nec dictum. Sed sollicitudin eros id diam rhoncus, accumsan dapibus turpis elementum. Mauris placerat posuere diam eget consectetur.
                    </p>
                </aside>

                <aside class="blRight">
                    <h2>blRight</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus congue nunc sit amet tempus. Cras non lectus eleifend, fermentum sem vel, vestibulum leo. Quisque vitae auctor turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse semper vestibulum pretium. Pellentesque tristique dolor non iaculis consectetur. Sed ullamcorper lacinia consectetur. Duis ultrices ac justo nec dictum. Sed sollicitudin eros id diam rhoncus, accumsan dapibus turpis elementum. Mauris placerat posuere diam eget consectetur.
                    </p>
                </aside>

                <section class="blCenter">
                    <h1>blCenter</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus congue nunc sit amet tempus. Cras non lectus eleifend, fermentum sem vel, vestibulum leo. Quisque vitae auctor turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse semper vestibulum pretium. Pellentesque tristique dolor non iaculis consectetur. Sed ullamcorper lacinia consectetur. Duis ultrices ac justo nec dictum. Sed sollicitudin eros id diam rhoncus, accumsan dapibus turpis elementum. Mauris placerat posuere diam eget consectetur.
                    </p>
                    <p>
                        Nullam tempus, ex a gravida condimentum, magna metus accumsan ipsum, sit amet finibus urna sapien vitae augue. Aliquam lorem risus, scelerisque vitae dolor ut, commodo finibus mi. Nunc vulputate risus in lectus posuere eleifend. Suspendisse posuere urna non velit finibus pellentesque. Nam eget orci a magna auctor fermentum nec non nulla. Nullam dignissim neque sed neque vehicula, sit amet feugiat ex lobortis. Morbi egestas vehicula ante, in accumsan lorem elementum a. Aenean ac sem vulputate massa egestas ornare. Sed rutrum aliquam lacus.
                    </p>
                </section>
            </div>
        </div>

        <div class="rasporka"></div>
    </div>
    <footer></footer>
</body>
</html>