.jqSlider
  #slider-land
    .sl-content
      #item-sl0
      #item-sl1
      #item-sl2
      #item-sl3
    .sl-control
      div(data-itemsl='0')
      div(data-itemsl='1')
      div(data-itemsl='2')
      div(data-itemsl='3')
    #sl-left.butsl
    #sl-right.butsl
  .sl-content2
    #page-block-dlpoy9btuh text12
    #page-block-0bykj43wzzkh text22
    #page-block-fkq4lu6p1vn text32
    #page-block-1wzfnor0ak6 text42