extends layouts/layout.pug
block variables
  - var title = 'Home page'

block append head
  script(src='/js/main.js')

block header
  a.headerLogo(href='/')

block content
  h1= title
  p Pug is a terse and simple templating language with a strong focus on performance and powerful features.
  
  include modules/jq-slider.pug